body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    justify-content: center;
    display: flex;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
}

table {
    width: 60dvw;
    height: 80dvh;
    margin: 0 auto;
    border-collapse: separate;
    box-shadow: 0 8px 16px RGBA(0, 0, 0, 0.8);
    background-color: #1a1c20;
    border-spacing: 1px;
}

table td {
    border: 1px solid white;
    max-height: 50px;
}